extends layout

block content
    h1 WebRTC Stream API Demo

    h2 Video
    video#camera(width='400', height='300', autoplay)
    img#camera_image1(src='')
    img#camera_image2(src='')
    img#camera_image3(src='')
    canvas#camera_canvas(style='display:none;', width='400', height='300')
    
    h2 Capture 
    #snapshot


